* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.main{
  width: 75vw;
  margin: 3rem auto;
}

.title {
  text-align: center;
}

.select {
  width: 100%;
  padding: 0.5rem 1rem;
}

.textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
}

.submit {
  width: 100%;
  border: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  color: #fff;
}

.phrases {
  column-count: 4;
  column-gap: 1rem;
}


@media screen and (min-width: 320px) {
  .phrases{
      column-count: 1;
  }
}

@media screen and (min-width: 480px) {
  .phrases {
      column-count: 2;
  }
}

@media screen and (min-width: 768px) {
  .phrases {
      column-count: 3;
  }
}

@media screen and (min-width: 1024px) {
  .phrases {
      column-count: 4;
  }
}

.phrase {
  width: 100%;
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 2px 2px 3px grey;
  border-radius: 1rem;
  background-color: white;
}

.phrase-text {
  font-weight: normal;
  font-style: italic;
  cursor: pointer;
}